<!--
  Generated template for the AnswerCommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="dark">
    <ion-title>Responder a {{comment.author.name}}</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" on-tap="dismiss()">CERRAR</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header class="header-avatar">
      <ion-item>
        <ion-avatar class=".profile_img" item-start>
          <img *ngIf="comment.author.profile_img" src="{{imgProvider.getImgUrl(comment.author.profile_img, false)}}" />
        </ion-avatar>
        <h2>{{comment.author.name}}</h2>
        <p>{{comment.date | date:'short':'':'es'}}</p>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      {{comment.content}}
    </ion-card-content>
    <ion-card-header>
      <form (ngSubmit)="send()">
        <ion-item>
          <ion-avatar class=".profile_img" item-start>
            <img *ngIf="author.profile_img" src="{{imgProvider.getImgUrl(author.profile_img, false)}}" />
          </ion-avatar>
          <h2>{{author.name}}</h2>
          <p>dice...</p>
        </ion-item>
        <ion-textarea [(ngModel)]="answer.content" name="answer" placeholder="Escribe tu respuesta aquí" maxLenght="500"></ion-textarea>
        <ion-buttons class="send-button">
          <button ion-button color="primary" large [disabled]="!answer.content" type="submit">Enviar</button>
        </ion-buttons>
      </form>
    </ion-card-header>
  </ion-card>
</ion-content>
