page-answer-comment {
  .profile_img {
    width: 20%;
  }
  .header-avatar {
    padding: 1% !important;
  }
  ion-textarea {
    height: 20rem;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    textarea {
      height: 100%;
    }
  }
  .send-button {
    text-align: center;
    .button {
      margin: 3%;
    }
  }
}
