<div class="movie-widget">
  <div class="background-block">
    <div class="background-img" [ngStyle]="{'background-image': 'url('+imgProvider.getImgUrl(movie.backdrop_path, true)+')'}"></div>
    <ion-buttons *ngIf="!isReleased()">
      <button class="follow-button" ion-button icon-start small *ngIf="movie.following" [color]="'secondary'" (click)="followMovie(false)">
        <ion-icon name="checkmark"></ion-icon>
        Avísame
      </button>
      <button class="follow-button" ion-button icon-start small *ngIf="!movie.following" [color]="'light'" (click)="followMovie(true)">
        <ion-icon name="add"></ion-icon>
        Avísame
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="isReleased()">
      <button class="watch-button" ion-button icon-start small *ngIf="movie.watched" [color]="'secondary'" (click)="watchMovie(false)">
        <ion-icon name="checkmark"></ion-icon>
        Visto
      </button>
      <button class="watch-button" ion-button icon-start small *ngIf="!movie.watched" [color]="'light'" (click)="watchMovie(true)">
        <ion-icon name="eye"></ion-icon>
        Visto
      </button>
    </ion-buttons>

    <div class="movie__title">
      <div class="poster-img" [ngStyle]="{'background-image': 'url('+imgProvider.getImgUrl(movie.poster_path, true)+')'}"></div>
      <span class="__name">{{movie.title}}</span>
      <div class="shadow"></div>
    </div>
  </div>
  <div class="movie__info">
    <ion-grid class="info__subheader">
      <ion-row align-items-center>
        <ion-col>
          <span ion-text *ngIf="movie.release_date.length > 0" class="info-text">{{movie.release_date | date:'dd/MM/yyyy'}}</span>
          <span ion-text *ngIf="movie.release_date.length <= 0" class="info-text">N/A</span>
        </ion-col>
        <ion-col class="right">
          <button ion-button color="primary" *ngIf="movie.vote_average > 0" (click)="showScore($event)" small>{{movie.vote_average}}</button>
          <button ion-button color="light" *ngIf="movie.vote_average === 0" (click)="showScore($event)" small>SIN PUNTUACIÓN</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
