<ion-tabs color="dark">
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="tab4Title" tabIcon="calendar"></ion-tab>
</ion-tabs>
