<ion-header>

  <ion-toolbar color="dark">
    <ion-title>Nuevo comentario</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" on-tap="close()">CERRAR</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <!-- <ion-card-header class="header-avatar">
      <ion-item>
        <ion-avatar class=".profile_img" item-start>
          <img *ngIf="comment.author.profile_img" src="{{comment.author.profile_img}}" />
          <img *ngIf="!comment.author.profile_img" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
          />
        </ion-avatar>
        <ion-title>{{comment.author.name}}</ion-title>
      </ion-item>
    </ion-card-header> -->
    <ion-card-content>
      <form (ngSubmit)="handleSubmit()">
        <ion-item>
          <ion-avatar class=".profile_img" item-start>
            <img src="{{imgProvider.getImgUrl(author.profile_img, false)}}" />
          </ion-avatar>
          <h2>{{author.name}}</h2>
        </ion-item>
        <ion-textarea [(ngModel)]="comment.content" name="answer" placeholder="Escribe tu comentario aquí" maxLenght="500"></ion-textarea>
        <ion-buttons class="send-button">
          <button ion-button color="primary" large [disabled]="!comment.content" type="submit">Enviar</button>
        </ion-buttons>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
