<div>
  <ion-list>
    <ion-item *ngFor="let item of items" on-tap="viewUser(item.id)">
      <ion-avatar item-start>
        <img src="{{getProfileImg(item)}}">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.username}}</p>
    </ion-item>
  </ion-list>
</div>
