<div class="profile-widget">
  <div class="background-block">
    <div class="background-img" [ngStyle]="{'background-image': 'url('+getImg(user.background_img)+')'}"></div>
    <ion-slides>
      <ion-slide>
        <div class="profile-info">
          <div class="profile-img" [ngStyle]="{'background-image': 'url('+getImg(user.profile_img)+')'}"></div>
          <span class="user-name">{{user.name}}</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="profile-info">
          <span class="user-description" *ngIf="user.description">{{user.description}}</span>
          <span class="user-description" *ngIf="!user.description">Sin descripción</span>

          <span class="user-username">{{user.username}}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</div>
