page-edit-profile {
  .edit-user-widget {
    max-height: 30rem;
    background-color: #333333;
    position: relative;
    min-height: 17rem;
    height: 33%;
    .background-block {
      background-position: bottom;
      background-size: cover;
      max-height: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      .background {
        width: 100%;
        height: 100%;
        position: absolute;
        .background-img-btn {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 5;
        }
        .edit-icon-back {
          color: white;
          position: absolute;
          top: 2%;
          right: 2%;
          font-size: 1.6em;
          text-shadow: 1px 1px 4px black;
        }
        .background-img {
          background-size: cover;
          background-position: center;
          height: 100%;
          width: 100%;
          filter: grayscale(50%);
        }
      }
      .profile-info {
        z-index: 10;
        .profile-img {
          background-size: cover;
          background-position: center;
          border-radius: 500px;
          height: 10rem;
          width: 10rem;
          background-color: #525252;
          box-shadow: 0px 0px 20px -2px;
          margin-bottom: 5px;
          filter: grayscale(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          .profile-img-btn {
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 10;
          }
        }
        .edit-icon {
          position: absolute;
          font-size: 1.8em;
          color: color($colors, light);
          text-shadow: 1px 1px 4px black;
        }
      }
    }
  }
  .center {
    text-align: center;
  }
}
