<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Editar perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-start color="primary" on-tap="logout()">
        <ion-icon name="md-exit"></ion-icon>
        SALIR
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <div class="edit-user-widget">
    <div class="background-block">
      <div class="background">
        <input type="file" *ngIf="!platform.is('cordova')" (change)="setBackgroundImg($event)" class="background-img-btn" />
        <div *ngIf="platform.is('cordova')" class="background-img-btn" (click)="setBackgroundImg($event)"></div>
        <div class="background-img" [ngStyle]="{'background-image': 'url('+imageProvider.getImgUrl(user.background_img, false)+')'}"></div>
        <ion-icon class="edit-icon-back" name="brush" (click)="setBackgroundImg($event)"></ion-icon>
      </div>
      <div class="profile-info">
        <div class="profile-img" [ngStyle]="{'background-image': 'url('+imageProvider.getImgUrl(user.profile_img, false)+')'}">
          <div *ngIf="platform.is('cordova')" class="profile-img-btn" (click)="setProfileImg($event)"></div>
          <input type="file" *ngIf="!platform.is('cordova')" (change)="setProfileImg($event)" class="profile-img-btn" />
          <ion-icon class="edit-icon" name="brush"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <ion-list padding>

    <ion-item>
      <ion-label floating>Nombre de usuario</ion-label>
      <ion-input disabled [(ngModel)]="user.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="user.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="user.birthdate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'SETTINGS_OPTION5' | translate }}</ion-label>
      <ion-select [(ngModel)]="user.country">
        <div *ngFor="let country of countries">
          <ion-option value="{{country.alpha2Code}}">{{country.name}}</ion-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-buttons class="center">
    <button ion-button icon-start color="primary" on-tap="handleSubmit()">
      <ion-icon name="refresh"></ion-icon>
      Actualizar información
    </button>
  </ion-buttons>

</ion-content>
