page-episode {
  .episode-header {
    .background-block {
      height: 30%;
      min-height: 20rem;
      background-color: lighten(color($colors, dark), 15%);
      position: relative;
      ion-buttons {
        padding: 2px;
      }
      .background-img {
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .episode-title {
        position: relative;
        height: 15rem;
        align-items: flex-end;
        display: flex;
        width: 90%;
        margin-left: 3%;
        .episode-name,
        .episode-number {
          color: white;
          z-index: 10;
          text-shadow: 2px 2px 4px black;
          bottom: 10px;
        }
        .episode-name {
          font-size: 2.5rem;
        }
        .episode-number {
          font-size: 1.5rem;
        }
      }
      .shadow {
        height: 100%;
        width: 100%;
        position: absolute;
        box-shadow: inset 0px -27px 47px -6px #202020;
      }
    }
    .episode__info {
      .info__subheader {
        padding: 0px;
        background-color: #e3e3e3
      }
    }
    .info-text {
      padding-left: 1rem;
      font-size: 16px;
    }
    .right {
      text-align: right;
      padding-right: 1rem;
    }
  }
  .overview-title {
    font-weight: 600;
    padding-bottom: 6px;
  }
  .episode-overview {
    text-align: justify;
    .--text {}
  }
}
