<!--
  Generated template for the EpisodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{tvshow.name}}: S{{episode.season_number}}E{{episode.episode_number}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="episode-header">
    <div class="background-block">
      <div class="background-img" [ngStyle]="{'background-image': 'url('+imageProvider.getImgUrl(episode.still_path, true)+')'}"></div>
      <div class="shadow"></div>
      <ion-buttons class="right">
        <button class="watch-button" ion-button icon-start small *ngIf="episode.watched" [color]="'secondary'" (click)="watchEpisode(false)">
          <ion-icon name="checkmark"></ion-icon>
          Visto
        </button>
        <button class="watch-button" ion-button icon-start small *ngIf="!episode.watched" [color]="'light'" (click)="watchEpisode(true)">
          <ion-icon name="eye"></ion-icon>
          Visto
        </button>
      </ion-buttons>
      <div class="episode-title">
        <ion-row align-items-end>
          <ion-col col-12>
            <span class="episode-number">Temporada {{episode.season_number}} | Episodio {{episode.episode_number}}</span>
          </ion-col>
          <br>
          <ion-col col-12>
            <span class="episode-name">{{episode.name}}</span>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="episode__info">
      <ion-grid class="info__subheader">
        <ion-row align-items-center>
          <ion-col>
            <span ion-text class="info-text">{{episode.air_date | date:'dd/MM/yyyy'}}</span>
          </ion-col>
          <ion-col class="right">
            <button ion-button color="primary" small *ngIf="episode.vote_average" (click)="showScore($event)">{{roundScore(episode.vote_average)}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ion-card class="episode-overview">
    <ion-item-divider color="light">RESEÑA</ion-item-divider>
    <ion-card-content margin-top>
      <span ion-text class="--text" *ngIf="episode.overview">{{episode.overview}}</span>
      <span ion-text class="--text" *ngIf="!episode.overview">No hay reseña disponible para este episodio</span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item-divider color="light">ÚLTIMOS COMENTARIOS</ion-item-divider>
    <ion-list>
      <ion-item *ngIf="!last_comments">
        <span>Todavía no hay comentarios, ¡sé el primero!</span>
      </ion-item>
      <ion-item *ngIf="last_comments && !episode.watched">
        <ion-icon item-start name="alert" color="danger"></ion-icon>
        <ion-label>Cuidado, posibles spoilers</ion-label>
      </ion-item>
      <div *ngIf="last_comments && episode.watched">
        <ion-item *ngFor="let comment of last_comments">
          <ion-avatar item-start>
            <img src="{{imageProvider.getImgUrl(comment.author.profile_img, false)}}">
          </ion-avatar>
          <h2>{{comment.author.name}}</h2>
          <p>{{comment.content}}</p>
        </ion-item>
      </div>
      <ion-card-header class="right" on-tap="viewComments()">
        <span>Ver los comentarios</span>
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </ion-card-header>
    </ion-list>
  </ion-card>

  <crew-list *ngIf="episode.crew.length > 0" [src]="episode.crew"></crew-list>
  <cast-list *ngIf="tvshow.credits.cast.length > 0" [src]="tvshow.credits.cast"></cast-list>

</ion-content>
