discover-list {
  .list-title {
    background-color: color($colors, light);
  }
  .posters-list {
    display: flex;
    flex-flow: row wrap;
    padding: 2%;
    justify-content: space-evenly;
    .poster-img {
      margin: 5px;
      img {
        height: 11.5rem;
        width: 7.7rem;
        border-radius: 2px;
        box-shadow: 0px 2px 2px 0px #cccccc;
      }
    }
  }
}
