<ion-item-divider class="list-title">{{title}}</ion-item-divider>
<div class="posters-list">
  <div (tap)="getTitle(item.id)" *ngFor="let item of items?.results">
    <ion-thumbnail class="poster-img" item-start>
      <img src="{{imageProvider.getImgUrl(item?.poster_path, true)}}" />
    </ion-thumbnail>
    <!-- <h2>{{type==='tv' ? item.name : item.title ? item?.title : item.original_title}}</h2> -->
  </div>
</div>
