title-list {
  ion-item-divider {
    border-top: 1px solid #dedede;
  }
  .list-title {
    background-color: color($colors, light);
  }
  .empty__list {
    padding: 1.5rem;
    font-size: 110%;
    .__message {}
  }
  .posters-list {
    display: flex;
    flex-flow: row wrap;
    padding: 1%;
    .poster-img {
      margin: 5px;
      img {
        background-color: #707070;
        height: 11.5rem;
        width: 7.7rem;
        border-radius: 2px;
        box-shadow: 0px 2px 2px 0px #cccccc;
      }
    }
  }
}

title-list:not(:first-child) {
  div.posters-list {
    padding-top: 1%;
  }
}
