<div *ngIf="this.items">
  <ion-item-divider class="list-title">{{title}}</ion-item-divider>
  <div *ngIf="this.items.length <= 0" class="empty__list">
    <span ion-text class="__message">Todavía no hay nada que mostrar aquí</span>
  </div>
  <div *ngIf="this.items.length > 0" class="posters-list">
    <div on-tap="viewTitle(item.id, type)" *ngFor="let item of items.reverse()">
      <ion-thumbnail class="poster-img" item-start>
        <img alt="{{item.cache.name || item.cache.original_title}}" src="{{imageProvider.getImgUrl(item.cache.poster_path, true)}}"
          onError="this.src='../../assets/imgs/poster_placeholder.png';" />
      </ion-thumbnail>
      <!-- <h2>{{item.cache?.name ? item.cache.name : item.cache.title}}</h2> -->
    </div>
  </div>

  <div *ngIf="!this.items" padding>
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
