<ion-header>

  <ion-navbar color="dark">
    <!-- <ion-title>{{ 'TAB1_TITLE' | translate }}</ion-title> -->
    <ion-title class="main-logo">
      <img alt="ScoreShow" class="" src="../../assets/icon/logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="default" [navPush]="searchPage">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only on-tap="goEditProfile()">
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <profile-widget [user]="user"></profile-widget>
  <title-list title="Siguiendo actualmente" type="tv" [items]="activity?.shows.following.tvshows"></title-list>
  <title-list title="Peliculas que he visto" type="movie" [items]="activity?.shows.watched.movies"></title-list>
</ion-content>
