<ion-header>
  <ion-toolbar>
    <ion-title>
      Tu puntuación: {{this.score}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content padding-left padding-right>
  <ion-range [(ngModel)]="score" color="primary" pin="true" snaps="true" min="1" max="10" step="1" (ionBlur)="scoreShow()"
    disabled={{loading}}>
    <ion-label range-left>1</ion-label>
    <ion-label range-right>10</ion-label>
  </ion-range>
  <div class="saved-text-block">
    <ion-label color="success" *ngIf="saved">¡Guardado!</ion-label>
  </div>
</ion-content>
