<ion-card>
  <ion-list>
    <ion-item-divider color="light">PERSONAJES PRINCIPALES</ion-item-divider>
    <ion-item *ngFor="let person of cast">
      <ion-avatar item-start>
        <img class="cast_img" *ngIf="person.profile_path" src="{{imageProvider.getImgUrl(person.profile_path, true)}}" />
      </ion-avatar>
      <h2>{{person.name}}</h2>
      <p>{{person.character}}</p>
    </ion-item>

  </ion-list>
</ion-card>
