<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label floating>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-input [(ngMo)]="option1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-input formControlName="option3"></ion-input>

      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>

      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'SETTINGS_OPTION5' | translate }}</ion-label>
        <ion-input formControlName="option5"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-buttons>
    <button ion-button color="primary" on-tap="logout()">Salir</button>
  </ion-buttons>



</ion-content>
