<!--
  Generated template for the SeasonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{season.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-divider color="light">EPISODIOS</ion-item-divider>
    <ion-row align-items-center *ngFor="let episode of season.episodes">
      <ion-col col-11>
        <ion-item *ngIf="episode.season_number!=0" on-tap="getEpisode(season.tvshow_id, season.season_number, episode.episode_number)">
          <span class="__episode_number">{{episode.episode_number}}.</span> {{episode?.name}}
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <ion-checkbox item-end (click)="watchEpisode(season.season_number, episode)" [(ngModel)]="episode.watched"></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
