<ion-header>
  <ion-navbar color="dark">
    <!-- <ion-title>{{ 'TAB3_TITLE' | translate }}</ion-title> -->
    <ion-title class="main-logo">
      <img alt="ScoreShow" class="" src="../../assets/icon/logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="default" [navPush]="searchPage">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="followeds.length > 0">
    <ion-item-divider color="light">Siguiendo en ScoreShow</ion-item-divider>
    <contact-list [items]="followeds"></contact-list>
  </ion-card>

  <div *ngIf="followeds.length === 0" class="empty--list">
    <h2 class="--message">¡Sal ahí y conoce a gente nueva! 🍻</h2>
  </div>
</ion-content>
