<div>
  <ion-card>
    <ion-item-group>
      <ion-item-divider color="light">EQUIPO DE PRODUCCIÓN</ion-item-divider>
      <ion-item *ngFor="let person of crew">
        <ion-avatar item-start>
          <img class="crew_img" *ngIf="person.profile_path" src="{{imageProvider.getImgUrl(person.profile_path, true)}}" />
        </ion-avatar>
        <h2>{{person.name}}</h2>
        <p>{{person.job}}</p>
      </ion-item>
    </ion-item-group>
  </ion-card>
</div>
