<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{user.name}}</ion-title>
    <ion-buttons end class="right">
      <button class="follow-button" ion-button icon-start small *ngIf="user.following" [color]="'secondary'" (click)="followUser(false)">
        <ion-icon name="checkmark"></ion-icon>
        Seguido
      </button>
      <button class="follow-button" ion-button icon-start small *ngIf="!user.following" [color]="'light'" (click)="followUser(true)">

        <ion-icon name="add"></ion-icon>
        Seguir
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <user-widget [user]="user"></user-widget>
  <title-list title="Siguiendo actualmente" type="tv" [items]="activity?.shows.following.tvshows"></title-list>
  <title-list title="Peliculas vistas" type="movie" [items]="activity?.shows.watched.movies"></title-list>
</ion-content>
