<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title class="main-logo">
      <img alt="ScoreShow" class="" src="../../assets/icon/logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="default" [navPush]="searchPage">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      <ion-spinner name="default"></ion-spinner>
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!loading && premieres" class="card-background-page">
    <div *ngFor="let day of premieres | keys" class="release__date">
      <span class="--date">
        {{day.key | date:'dd/MM/yyyy':'':'es'}}
      </span>
      <ion-card *ngFor="let release of day.value">
        <div *ngIf="release.episode" on-tap="getEpisode(release.tvshow, release.episode)">
          <img src="{{imageProvider.getImgUrl(release.tvshow.backdrop_path, true)}}" />
          <div class="card-title">{{release.tvshow.name}}</div>
          <div class="card-subtitle"> {{release.episode.name}}</div>
        </div>
        <div *ngIf="!release.episode" on-tap="getMovie(release)">
          <img *ngIf="release.backdrop_path" src="{{imageProvider.getImgUrl(release.backdrop_path, true)}}" />
          <img *ngIf="!release.backdrop_path" src="{{imageProvider.getImgUrl(release.belongs_to_collection.backdrop_path, true)}}"
          />
          <div class="card-title">{{release.title}}</div>
        </div>
      </ion-card>
    </div>
  </div>

  <div *ngIf="!loading && !premieres" class="empty__list">
    <h3 class="__message">¡Parece que estás al día! 🎉</h3>
  </div>
</ion-content>
