page-calendar {
  .card-background-page {
    .release__date {
      text-align: center;
      font-weight: 600;
      padding: 5px 0 20px 0;
      font-size: 110%;
      display: flex;
      align-items: center;
      flex-flow: column;
      width: 100%;
    }
    ion-card {
      position: relative;
      text-align: center;
      max-width: 30rem;
      div {
        height: 17.5rem;
        display: flex;
        align-items: center;
        img {
          position: absolute;
          height: 17.5rem;
          max-width: 30rem;
        }
      }
    }
    .card-title {
      z-index: 5;
      font-size: 170%;
      font-weight: bold;
      color: #fff;
      text-shadow: 2px 2px 4px #252525;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30%;
      margin: 0px 1%;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      text-shadow: 2px 2px 4px rgb(37, 37, 37);
      z-index: 5;
      height: 20%;
      display: flex;
      justify-content: center;
    }
  }
  .empty__list {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
}

ion-loading.loading-md {
  div.loading-wrapper {
    border-radius: 2px;
    max-width: 280px;
    max-height: 90%;
    color: rgba(0, 0, 0, 0.5);
    background: #101a4e;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
    padding: 14px;
    ion-spinner.spinner {
      svg circle {
        stroke: #f2f2f2;
      }
    }
  }
}
