@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

page-welcome {
  .welcome-page {
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, rgb(211, 27, 27), rgb(214, 165, 165), rgb(219, 215, 215), rgb(221, 221, 221));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    .splash-bg {
      position: relative;
      background: url('../assets/img/splashbg.png') no-repeat transparent;
      background-size: cover;
      height: 45%;
      z-index: 1;
      background-repeat: repeat-x;
      animation: animatedBackground 40s linear infinite;
    }
    @keyframes animatedBackground {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 100% 0;
      }
    }
    .splash-info {
      position: relative;
      z-index: 2;
      top: 0%;
      margin-top: 13px;
      text-align: center;
      text-shadow: 2px 2px 5px #0e0e0e;
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .splash-logo {
      margin: auto;
      background: url(../assets/icon/logo.png) no-repeat transparent;
      background-size: 100%;
      width: 30rem;
      height: 8rem;
      margin-bottom: 4rem;
    }
    .splash-intro {
      font-size: 18px;
      font-weight: bold;
      max-width: 80%;
      margin: auto;
      margin-top: 0px;
      color: color($colors, dark);
      text-shadow: none;
    }
    button.login {
      margin-top: 25px;
      background-color: color($colors, light);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      color: #333;
      &.activated {
        background-color: rgb(220, 220, 220);
      }
    }
    .login-form {
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .login-input {
        border-radius: 3px;
        margin: 3.3% 0%;
        padding-left: 0px;
        ion-label {
          padding-left: 16px;
        }
      }
    }
    .login-title div {
      color: color($colors, dark)
    }
  }
}
