<ion-content scroll="false">
  <div class="welcome-page">
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro">
        {{ 'WELCOME_INTRO' | translate }}
      </div>
    </div>
    <div padding *ngIf="!_showLogin">
      <button ion-button block (click)="signup()" large>{{ 'SIGNUP' | translate }}</button>
      <button ion-button block (click)="showLogin(true)" class="login" large>{{ 'LOGIN' | translate }}</button>
    </div>
    <div padding *ngIf="_showLogin" class="login-form">
      <ion-title ion-text class="login-title">Iniciar sesión</ion-title>
      <form (submit)="doLogin()">
        <ion-item class="login-input" color="light">
          <ion-label fixed>{{ 'USERNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.username" name="email"></ion-input>
        </ion-item>

        <ion-item class="login-input" color="light">
          <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>

        <div class="--buttons" padding>
          <ion-row>
            <ion-col col-4>
              <button ion-button color="light" (click)="showLogin(false)" block>Atrás</button>
            </ion-col>
            <ion-col col-8>
              <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
            </ion-col>
          </ion-row>
        </div>
      </form>

    </div>
  </div>
</ion-content>
