<ion-header>
  <ion-navbar color="dark">
    <!-- <ion-title>
      {{ 'TAB2_TITLE' | translate }}
    </ion-title> -->
    <ion-title class="main-logo">
      <img alt="ScoreShow" class="" src="../../assets/icon/logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="default" [navPush]="searchPage">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar color="dark">
    <ion-segment [(ngModel)]="type" color="primary">
      <ion-segment-button value="tv" isActive="true">
        Series
      </ion-segment-button>
      <ion-segment-button value="movie">
        Peliculas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      <ion-spinner name="default"></ion-spinner>
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="type==='tv' && !loading">
    <discover-list *ngIf="tvshows.popular" title="Populares" [type]="type " [items]="tvshows.popular"></discover-list>
    <discover-list *ngIf="tvshows.top_rated" title="Mejor valoradas" [type]="type" [items]="tvshows.top_rated"></discover-list>
  </div>
  <div *ngIf="type==='movie' && !loading">
    <discover-list *ngIf="movies.popular" title="Populares" [type]="type" [items]="movies.popular"></discover-list>
    <discover-list *ngIf="movies.top_rated" title="Mejor valoradas" [type]="type" [items]="movies.top_rated"></discover-list>
  </div>
</ion-content>
