.tvshow-widget {
  max-height: 32rem;
  min-height: 22rem;
  height: 50%;
  ion-buttons {
    text-align: right;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .background-block {
    min-height: 17rem;
    position: relative;
    background-color: color($colors, dark);
    display: flex;
    align-items: center;
    height: 82%;
    width: 100%;
  }
  .background-img {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .tvshow-title {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 100%;
    z-index: 5;
    .poster-img {
      position: relative;
      max-width: 25%;
      margin-left: 3%;
      z-index: 1;
      bottom: 7px;
      background-size: 100%;
      bottom: 0.5em;
      height: 70%;
      width: 28.5%;
      max-width: 12.7rem;
      background-repeat: round;
      border-radius: 3px;
      box-shadow: 0px 0px 4px black;
    }
    .tvshow-name {
      position: relative;
      color: white;
      z-index: 10;
      font-size: 23px;
      text-shadow: 2px 2px 4px black;
      left: 3%;
      width: 65%;
      bottom: 7px;
    }
    .shadow {
      height: 100%;
      width: 100%;
      position: absolute;
      box-shadow: inset 0px -27px 47px -6px #202020;
    }
  }
}

.tvshow__info {
  border-bottom: 2px darken(color($colors, light), 20%) solid;
  .info__subheader {
    padding: 0px;
    background-color: color($colors, light);
  }
}

.info-text {
  font-size: 1.6rem;
  padding-left: 1rem;
}

.right {
  text-align: right;
  padding-right: 1rem;
}
