<div class="tvshow-widget">
  <div class="background-block">
    <div class="background-img" [ngStyle]="{'background-image': 'url('+imgProvider.getImgUrl(tvshow.backdrop_path, true)+')'}"></div>
    <ion-buttons>
      <button class="follow-button" ion-button icon-start small *ngIf="tvshow.following" [color]="'secondary'" on-tap="followTvshow(false)">
        <ion-icon name="checkmark"></ion-icon>
        Seguido
      </button>
      <button class="follow-button" ion-button icon-start small *ngIf="!tvshow.following" [color]="'light'" on-tap="followTvshow(true)">
        <ion-icon name="add"></ion-icon>
        Seguir
      </button>
    </ion-buttons>

    <div class="tvshow-title">
      <div class="poster-img" [ngStyle]="{'background-image': 'url('+imgProvider.getImgUrl(tvshow.poster_path, true)+')'}"></div>
      <span class="tvshow-name">{{tvshow.name}}</span>
      <div class="shadow"></div>
    </div>
  </div>
  <div class="tvshow__info">
    <ion-grid class="info__subheader">
      <ion-row align-items-center>
        <ion-col>
          <span ion-text class="info-text">{{getYear(tvshow.first_air_date)}} - {{getLastAirDate()}}</span>
        </ion-col>
        <ion-col class="right">
          <button ion-button color="primary" small (click)="presentAlert()">{{tvshow.vote_average}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
