<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Buscar</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [color]="filter === 'tmdb' && 'primary'" (click)="filter = 'tmdb'">
        <ion-icon name="film"></ion-icon>
      </button>
      <button ion-button icon-only [color]="filter === 'users' && 'primary'" (click)="filter = 'users'">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="dark" class="toolbar__search">
    <ion-searchbar [animated] [autocomplete] [debounce]="400" [placeholder]="'Buscar en ScoreShow...'" [(ngModel)]="searchKeyword"
      (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="results__block" *ngIf="filter === 'tmdb'">
    <div class="--empty" *ngIf="results.tmdb.length === 0 || !searchKeyword">
      <h3>Busca entre miles de series y peliculas 🎬</h3>
    </div>
    <div *ngIf="results.tmdb.length > 0 && searchKeyword">
      <h3>Resultados</h3>
      <ion-list class="results__list">
        <div *ngFor="let title of results.tmdb">
          <ion-item *ngIf="title.media_type!='person'" on-tap="viewTitle(title)" class="__item">
            <ion-thumbnail item-start class="--title-img">
              <img src="https://image.tmdb.org/t/p/w500/{{title.poster_path}}">
            </ion-thumbnail>
            <h2>{{title.name ? title.name : title.title ? title.title : title.original_title}}</h2>
            <button disabled ion-button outline item-end *ngIf="title.media_type === 'movie'" class="__media_type --movie">{{title.media_type}}</button>
            <button disabled ion-button outline item-end *ngIf="title.media_type === 'tv'" class="__media_type --tv">{{title.media_type}}</button>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
  <div class="results__block" *ngIf="filter === 'users'">
    <div class="--empty" *ngIf="results.users.length === 0 || !searchKeyword">
      <h3>Busca gente de ScoreShow 🍻</h3>
    </div>
    <div *ngIf="results.users.length > 0 && searchKeyword">
      <ion-list class="results__list">
        <h3>Resultados</h3>
        <div *ngFor="let user of results.users">
          <ion-item [navPush]="userPage" [navParams]="{user:user}" class="__item">
            <ion-thumbnail item-start class="--user-img">
              <img src="{{imageProvider.getImgUrl(user.profile_img, false)}}" />
            </ion-thumbnail>
            <h2>{{user.name}}</h2>
            <span class="--username">{{user.username}}</span>
            <button disabled ion-button outline item-end class="__media_type --user">USER</button>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
