page-search {
  .toolbar__search {
    ion-searchbar {
      .searchbar-input-container {
        input {
          // background-color: #747474;
        }
      }
    }
  }
  .results__block {
    height: 100%;
    .--empty {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .results__list {
    .__item {
      ion-thumbnail {
        margin: 5px 10px 5px 0;
        min-width: auto;
        &.--title-img {}
        &.--user-img {
          img {
            border-radius: 500px;
            min-height: 7rem;
            width: 80px;
          }
        }
        img {
          width: auto;
          min-height: 9rem;
        }
      }
      .--username {
        color: darken(color($colors, light), 20%);
      }
      button.__media_type {
        opacity: 100 !important;
        &.--tv {
          display: block;
          font-size: 1.4rem;
        }
        &.--movie {
          color: #3ea729;
          border-color: #3ea729;
        }
        &.--user {
          color: #296ea7;
          border-color: #296ea7;
        }
        &.--person {
          color: #b85616;
          border-color: #b85616;
        }
      }
    }
  }
}
