page-movie {
  .card__overview {
    ion-grid {
      padding: 0;
      .col__runtime {
        ion-icon {
          font-size: 1.7rem;
        }
        .span__runtime {
          font-size: 1.5rem;
        }
      }
      .col__company-logos {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        .company-img {
          max-width: 70px;
          width: auto;
          height: 20px;
          margin: 0px 4px;
        }
      }
    }
    ion-card-content {
      p.--text {
        text-align: justify;
      }
    }
  }
}
