<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{movie.title ? movie.title : movie.original_title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <movie-widget [movie]="movie"></movie-widget>
  <div>
    <ion-card class="card__overview">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col class="col__runtime" col-4>
              <ion-icon name="md-time"></ion-icon>
              <span ion-text class="span__runtime">
                {{movie.runtime}} min.
              </span>
            </ion-col>
            <ion-col class="col__company-logos" col-8>
              <div *ngFor="let company of movie.production_companies">
                <img alt=" " class="company-img" *ngIf="company.logo_path" src="https://image.tmdb.org/t/p/original/{{company.logo_path}}"
                />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <p ion-text class="--text" *ngIf="movie.overview">{{movie.overview}}</p>
        <p ion-text class="--text" *ngIf="!movie.overview">No hay reseña disponible para esta película</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="comments-card">
    <ion-card>
      <ion-item-divider color="light">ÚLTIMOS COMENTARIOS</ion-item-divider>
      <ion-list>
        <ion-item *ngIf="!last_comments">
          <span>Todavía no hay comentarios, ¡sé el primero!</span>
        </ion-item>
        <div *ngIf="last_comments">
          <ion-item *ngFor="let comment of last_comments">
            <ion-avatar item-start>
              <img src="{{imgProvider.getImgUrl(comment.author.profile_img, false)}}">
            </ion-avatar>
            <h2>{{comment.author.name}}</h2>
            <p>{{comment.content}}</p>
          </ion-item>
        </div>
        <ion-card-header class="right" on-tap="viewComments()">
          <span>Ir a los comentarios</span>
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </ion-card-header>
      </ion-list>
    </ion-card>
  </div>


  <crew-list *ngIf="movie.credits.crew.length > 0" [src]="movie.credits?.crew"></crew-list>
  <cast-list *ngIf="movie.credits.cast.length > 0" [src]="movie.credits?.cast"></cast-list>

</ion-content>
