.user-widget {
  max-height: 30rem;
  background-color: #333333;
  position: relative;
  min-height: 17rem;
  height: 33%;
  .background-block {
    background-position: bottom;
    background-size: cover;
    max-height: 30rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    .background-img {
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
    }
    ion-slides {
      z-index: 9;
      position: absolute;
      text-align: center;
      justify-content: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      div.slide-zoom {
        display: flex;
        justify-content: center;
        .profile-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .profile-img {
            background-size: cover;
            background-position: center;
            border-radius: 500px;
            height: 10rem;
            width: 10rem;
            background-color: #525252;
            box-shadow: 0px 0px 20px -2px;
            margin-bottom: 1rem;
          }
          .user-name {
            color: white;
            z-index: 10;
            font-size: 100%;
            font-weight: 600;
            text-shadow: 2px 2px 4px black;
          }
          .user-username {
            color: color($colors, light);
            z-index: 10;
            font-size: 90%;
            text-shadow: 2px 2px 4px black;
            font-style: oblique;
            padding: 1rem;
          }
          .user-description {
            color: white;
            z-index: 10;
            font-size: 90%;
            text-shadow: 2px 2px 4px black;
          }
        }
      }
    }
  }
}
