page-tvshow {
  .season__list {
    ion-col.center {
      text-align: center
    }
  }
  .card__overview {
    ion-grid {
      padding: 0;
      .col__runtime {
        ion-icon {
          font-size: 1.7rem;
        }
        span {
          font-size: 1.5rem;
        }
      }
      .col__network-logos {
        display: flex;
        justify-content: flex-end;
      }
    }
    .network-img {
      max-width: 70px;
      width: auto;
      height: 20px;
      margin: 0px 4px;
    }
  }
  ion-card-content {
    p {
      text-align: justify;
    }
  }
}

.right {
  text-align: right;
}
