<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{tvshow.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <tvshow-widget [tvshow]='tvshow'></tvshow-widget>

  <ion-card>
    <ion-list class="season__list">
      <ion-item-divider color="light">TEMPORADAS</ion-item-divider>
      <div *ngFor="let season of tvshow.seasons">
        <ion-row *ngIf="season.season_number!=0 && season.episode_count > 0" align-items-center>
          <ion-col col-11>
            <ion-item [navPush]="seasonPage" [navParams]="{tvshow:tvshow, season:season}" class="__season">
              <ion-label>{{season?.name}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-1 class="center">
            <ion-checkbox item-end [(ngModel)]="season.completed" (click)="watchSeason($event, season)"></ion-checkbox>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </ion-card>

  <div>
    <ion-card class="card__overview">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col class="col__runtime">
              <ion-icon name="md-time"></ion-icon>
              <span ion-text>
                ~{{tvshow.episode_run_time[0]}} min.
              </span>
            </ion-col>
            <ion-col class="col__network-logos">
              <div *ngFor="let network of tvshow.networks">
                <img alt=" " class="network-img" src="{{imageProvider.getImgUrl(network.logo_path, true)}}" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <p ion-text>
          {{tvshow.overview}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="comments-card">
    <ion-card>
      <ion-item-divider color="light">ÚLTIMOS COMENTARIOS</ion-item-divider>
      <ion-list>
        <ion-item *ngIf="!last_comments">
          <span>Todavía no hay comentarios, ¡sé el primero!</span>
        </ion-item>
        <div *ngIf="last_comments">
          <ion-item *ngFor="let comment of last_comments">
            <ion-avatar item-start>
              <img src="{{imageProvider.getImgUrl(comment.author.profile_img, false)}}" />
            </ion-avatar>
            <h2>{{comment.author.name}}</h2>
            <p>{{comment.content}}</p>
          </ion-item>
        </div>
        <ion-card-header class="right" on-tap="viewComments()">
          <span>Ver comentarios</span>
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </ion-card-header>
      </ion-list>
    </ion-card>
  </div>

  <crew-list *ngIf="tvshow.credits.crew.length > 0" [src]="tvshow.credits.crew"></crew-list>
  <cast-list *ngIf="tvshow.credits.cast.length > 0" [src]="tvshow.credits.cast"></cast-list>

</ion-content>
