<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()" [formGroup]="account">
    <ion-list>
      <ion-item margin-top>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" name="name" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-messages">
        <div *ngIf="account.controls.name.invalid && (account.controls.name.dirty || account.controls.name.touched)" class="alert alert-danger">
          <ion-label ion-text color="danger" *ngIf="account.controls.name.errors.required" floating>Debes especificar un nombre</ion-label>
          <!-- <ion-label ion-text color="danger" *ngIf="account.controls.name.errors.pattern" floating>Solo se pueden usar caracteres de texto</ion-label> -->
        </div>
      </div>

      <ion-item margin-top>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" name="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-messages">
        <div *ngIf="account.controls.email.invalid && (account.controls.email.dirty || account.controls.email.touched)" class="alert alert-danger">
          <ion-label ion-text color="danger" *ngIf="account.controls.email.pristine && account.controls.email.errors.required" floating>Debes especificar un email</ion-label>
          <ion-label ion-text color="danger" *ngIf="!account.controls.email.errors.required && account.controls.email.errors.email"
            floating>Debes especificar un email válido</ion-label>
        </div>
      </div>

      <ion-item margin-top>
        <ion-label fixed>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" name="username" formControlName="username"></ion-input>
      </ion-item>
      <div class="validation-messages">
        <div *ngIf="account.controls.username.invalid && (account.controls.username.dirty || account.controls.username.touched)"
          class="alert alert-danger">
          <ion-label ion-text color="danger" *ngIf="account.controls.username.errors.required" floating>Debes especificar un nombre de usuario.</ion-label>
          <ion-label ion-text color="danger" *ngIf="account.controls.username.errors.minlength" floating>Mínimo 6 caracteres.</ion-label>
        </div>
      </div>

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" name="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-messages">
        <div *ngIf="account.controls.password.invalid && (account.controls.password.dirty || account.controls.password.touched)"
          class="alert alert-danger">
          <ion-label ion-text color="danger" *ngIf="account.controls.password.errors.required" floating>Debes especificar una contraseña.</ion-label>
          <ion-label ion-text color="danger" *ngIf="account.controls.password.errors.minlength" floating>Mínimo 8 caracteres.</ion-label>
        </div>
      </div>

      <ion-item>
        <ion-label floating>{{ 'DESCRIPTION' | translate }}</ion-label>
        <ion-textarea name="description" formControlName="description"></ion-textarea>
      </ion-item>
      <div class="validation-messages">
        <div *ngIf="account.controls.description.invalid && (account.controls.description.dirty || account.controls.description.touched)"
          class="alert alert-danger">
          <ion-label ion-text color="danger" *ngIf="account.controls.password.errors.maxlength" floating>Máximo 170 caracteres.</ion-label>
        </div>
      </div>

      <ion-item>
        <ion-label>{{ 'COUNTRY' | translate }}</ion-label>
        <ion-select formControlName="country">
          <div *ngFor="let country of countries">
            <ion-option value="{{country.alpha2Code}}">{{country.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
      <div class="validation-messages">
        <div *ngIf="account.controls.country.invalid && (account.controls.country.dirty || account.controls.country.touched)" class="alert alert-danger">
          <ion-label ion-text color="danger" *ngIf="account.controls.country.errors.required" floating>Debes especificar un país de residencia.</ion-label>
        </div>
      </div>


      <div margin padding (click)="log()">
        <button ion-button color="primary" *ngIf="account.invalid" disabled large block>{{ 'SIGNUP_BUTTON' | translate }}</button>
        <button ion-button color="primary" *ngIf="!account.invalid" large block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
