page-signup {
  div.validation-messages {
    margin-bottom: 25px;
    div.alert {
      ion-label {
        padding: 0px 20px 10px 20px;
        margin-top: 0px;
        &:first-child {
          margin-top: -15px
        }
      }
    }
  }
}
