page-comments {
  .empty__list {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .card__comment {
    .__header {
      align-items: center;
    }
    .--content {
      white-space: normal;
      text-align: justify; // box-shadow: 0px 24px 2px -24px rgb(31, 31, 31);
      padding: 0px 16px 12px 22px;
    }
  }
  .answers__list {
    background-color: #f5f5f5;
    width: 100%;
    ion-item.__header {
      padding-left: 16px;
      background-color: #f5f5f5;
      ion-avatar {
        margin-right: 6px !important;
        img {
          width: 3rem;
          height: 3rem;
          border-radius: 500px;
        }
      }
      h2.--author {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 2rem;
      }
      p.--date {
        font-size: 1.2rem;
      }
    }
    .--content {
      white-space: normal;
      text-align: justify;
      padding: 0px 16px 12px 20px;
    }
  }
  .actions-bar {
    text-align: right;
    padding-right: 10px;
  }
}
