<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Comentarios</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="addComment()" icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="comments.length === 0 && !loading" class="empty__list">
    <h3 class="__message">
      Esto esta muy vacio... 🕸
      <br> ¡Sé el primero en comentar!
    </h3>

  </div>
  <div *ngIf="comments.length >= 0 && !loading">
    <ion-card *ngFor="let comment of comments" button-end class="card__comment">
      <ion-row class="__header">
        <ion-col col-10 (click)="viewUser(comment.author)">
          <ion-item>
            <ion-avatar item-start>
              <img src="{{imgProvider.getImgUrl(comment.author.profile_img, false)}}">
            </ion-avatar>
            <h2>{{comment.author.name}}</h2>
            <p>{{comment.date | date:'short':'':'es'}}</p>
          </ion-item>
        </ion-col>
        <ion-col col-2 class="actions-bar">
          <button ion-button icon-only on-tap="answerComment(comment)" small>
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>

      </ion-row>

      <ion-card-content class="--content">
        <p>
          {{comment.content}}
        </p>
      </ion-card-content>

      <ion-row>
        <ion-list *ngIf="comment.answers" class="answers__list">
          <div *ngFor="let answer of comment.answers" class="answer">
            <ion-item class="__header" (tap)="viewUser(answer.author)">
              <ion-avatar item-start>
                <img src="{{imgProvider.getImgUrl(answer.author.profile_img, false)}}" />
              </ion-avatar>
              <h2 class="--author">{{answer.author.name}}</h2>
              <p class="--date">{{answer.date | date:'short':'':'es'}}</p>
            </ion-item>
            <div class="--content">
              <p ion-text>{{answer.content}}</p>
            </div>
          </div>
        </ion-list>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
